<div>
  <div>
    <hr class="mt-5">
    <a href="/health_checkin"><i class="fa fa-circle-plus fa-7x" aria-hidden="true"></i></a>
  </div>
</div>

<hr>


<div class="checkins-heading_wrapper">
  <div>
    <h1>
      Health Checkins
    </h1>
  </div>
</div>


<hr>
  <!-- TODO: add streaks. If no checkins, say "Looks like you haven't been tracking your health. Click above to add a health checkin" -->
  <% if (@list_of_health_checkins.length == 0) %>
    <h5><span style="color:red">⚠️</span>  Looks like you haven't been tracking your health. Click above to add a health checkin and get your health on track.</h5>
  <% end%>

  <% @list_of_health_checkins.each do |a_health_checkin| %>
  <div class="card mb-4" style="background-color: #f8f9fa;">
    <div class="card-body pl-4">
      <div class="row card_content-wrapper">
        <div class="col-sm">
          <span class="fa-solid fa-bottle-water fa-2x" style="color: #0d6efd"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-bowl-food fa-2x" style="color: #FFBF00"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-dumbbell fa-2x" style="color: purple"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-weight-scale fa-2x"></span>
        </div>

        <div class="col-sm">
          <span>
            <b>Details</b>
          </span>
        </div>
      </div>

      <div class="row card_content-wrapper">
        <div class="col-sm">
          <% if a_health_checkin.water %>
            <span class="fa-solid fa-check fa-2x" style="color:green"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <% if a_health_checkin.grain && a_health_checkin.protein && a_health_checkin.fruit && a_health_checkin.vegetable %>
            <span class="fa-solid fa-check fa-2x" style="color:green"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <% if a_health_checkin.exercise %>
            <span class="fa-solid fa-check fa-2x" style="color:#4caf50"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <%= a_health_checkin.weight %>
        </div>

        <div class="col-sm">
          <a href="/health_checkins/<%= a_health_checkin.id %>">
            Show details
          </a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<hr>
