<div>
  <div>
    <h2>
      Add a new health checkin
    </h2>
    <!-- TODO: Add link for About page in span -->
    <span >Check the box if you met requirements for the respective category. If you need to be informed of food, water or exercise requirements, see the About page.</span>

    <!-- TODO: Style [Add plus button, opens form--redirects to this page when submitted] -->
    <hr class="mb-3">
    <form action="/insert_health_checkin" method="post">
      <div>
        <input type="checkbox" id="water_box" name="query_water" value="1">

        <label for="water_box">Water</label>
      </div>

      <div>
        <input type="checkbox" id="grain_box" name="query_grain" value="1">

        <label for="grain_box">Grain</label>
      </div>

      <div>
        <input type="checkbox" id="protein_box" name="query_protein" value="1">

        <label for="protein_box">Protein</label>
      </div>

      <div>
        <input type="checkbox" id="fruit_box" name="query_fruit" value="1">

        <label for="fruit_box">Fruit</label>
      </div>

      <div>
        <input type="checkbox" id="vegetable_box" name="query_vegetable" value="1">

        <label for="vegetable_box">Vegetable</label>
      </div>

      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <input type="checkbox" id="exercise_box" name="query_exercise" value="1">

        <label for="exercise_box">Exercise</label>
      </div>

      <div class="mt-3">
        <div>
          <label for="journal_entry">Journal</label>
        </div>
        <textarea name="query_journal" id="journal_entry" cols="30" rows="5"></textarea>
      </div>

      <button class="btn btn-primary mt-3">
        Create health checkin
      </button>
    </form>
  </div>
</div>

<hr>


<div>
  <div>
    <h1>
      Health Checkins
    </h1>
  </div>
</div>


<hr>
  <!-- TODO: add streaks. If no checkins, say "Looks like you haven't been tracking your health. Click above to add a health checkin" -->
  <% @list_of_health_checkins.each do |a_health_checkin| %>
  <div class="card mb-4" style="background-color: #f8f9fa;">
    <div class="card-body pl-4">
      <div class="row card_content-wrapper">
        <div class="col-sm">
          <span class="fa-solid fa-bottle-water fa-2x" style="color: #0d6efd"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-bowl-food fa-2x" style="color: #FFBF00"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-dumbbell fa-2x" style="color: purple"></span>
        </div>

        <div class="col-sm">
          <span class="fa-solid fa-weight-scale fa-2x"></span>
        </div>

        <div class="col-sm">
          <span>
            <b>Details</b>
          </span>
        </div>
      </div>

      <div class="row card_content-wrapper">
        <div class="col-sm">
          <% if a_health_checkin.water %>
            <span class="fa-solid fa-check fa-2x" style="color:green"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <% if a_health_checkin.grain && a_health_checkin.protein && a_health_checkin.fruit && a_health_checkin.vegetable %>
            <span class="fa-solid fa-check fa-2x" style="color:green"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <% if a_health_checkin.exercise %>
            <span class="fa-solid fa-check fa-2x" style="color:green"></span>
          <% else %>
            <span class="fa-solid fa-x fa-2x" style="color:red"></span>
          <% end %>
        </div>

        <div class="col-sm">
          <%= a_health_checkin.weight %>
        </div>

        <div class="col-sm">
          <a href="/health_checkins/<%= a_health_checkin.id %>">
            Show details
          </a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

<hr>
