<body class="page">
  <h2>Log in</h2>

  <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="DxM4j84mzTf-tNnrEbCx2iffxhn4M8SuUPgehRnW-eNzz3SSwaai5i_L6uVZv7f4F1zQRyvkz7pDbzsnd2AFuw" autocomplete="off" />
    <div class="form-inputs">
      <div class="input email optional user_email">
        <label class="email optional user_email-label" for="user_email">Email</label>
        <div>
          <input autocomplete="email" class="string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />   
        </div>
      </div>
      <div class="input password optional user_password">
        <label class="password optional user_password-label mt-3" for="user_password">Password</label>
        <div>
          <input autocomplete="current-password" class="password optional" type="password" name="user[password]" id="user_password" />
        </div>
      </div>
      <div class="input boolean optional user_remember_me"><input value="0" autocomplete="off" type="hidden" name="user[remember_me]" /><label class="boolean optional checkbox mt-3" for="user_remember_me"><input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />Remember me</label></div>
    </div>

    <div class="form-actions mt-2">
      <input type="submit" name="commit" value="Log in" class="btn" data-disable-with="Log in" />
    </div>
  </form>

  <div class="mt-2">
    <a href="/users/sign_up" >Sign up</a><br />
    <a href="/users/password/new">Forgot your password?</a><br />
  </div>

</body>
