/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* TODO?: Create seperate css files per section if this file gets too long.

 /* Navbar */
 nav {
  background-color: #4caf50 !important;
 }

 nav a, nav-link {
  color: white !important;
 }

 .dropdown-menu {
  background-color: #4caf50;
 }

 .dropdown-item:hover {
  background-color: #79E70C;
 }


 /* Health Checkin */
 .card-body {
  padding-left: 2em;
 }

 .checkins-heading_wrapper {
  margin-top: 5em;
 }

 .checkin_heading {
  text-align: center;
  color: #0d6efd;
 }

 /* .checkin-nutrition_wrapper {
  
 } */
